@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

html,
body {
  height: 100%;
}

@theme {
  --color-primary: #d91a29;
  --color-primary-100: rgb(217, 59, 72);
  --color-primary-200: rgb(220, 47, 61);
  --color-primary-300: #da3442;
  --color-primary-400: #d82938;
  --color-primary-500: #d91a29;

  --color-secondary: #1a1a1a;
  --color-secondary-100: rgb(121, 121, 121);
  --color-secondary-200: rgb(96, 96, 96);
  --color-secondary-300: rgb(68, 68, 68);
  --color-secondary-400: #272727;
  --color-secondary-500: #1a1a1a;
  --color-secondary-600: #0a0a0a;
}
